.listContainer {
  width: 100%;
  max-width: 1100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.4rem;
  margin: 5rem 0;
  @media screen and (min-width: 720px) {
    flex-direction: row;
    justify-content: center;
    max-height: 300px;
  }

  .listName {
    font-size: 22px;
    font-weight: 700;
    font-family: "Maven", sans-serif;
    color: #14202b;
    margin-bottom: 0rem;
    @media screen and (min-width: 720px) {
      display: flex;
      -ms-writing-mode: tb-lr;
      writing-mode: horizontal-tb;
      margin-top: 0rem;
      margin-right: 1rem;
      flex-direction: column;
      justify-content: start;
    }
  }

  .listsubName {
    font-size: 18px;
    color: #14202b;
    font-weight: 700;
    margin-bottom: 0rem;
    @media screen and (min-width: 720px) {
      display: flex;
      margin-top: 1.8rem;
      margin-right: 1rem;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .sumContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    @media screen and (min-width: 720px) {
      flex-direction: column;
      justify-content: start;
      padding: 0 3rem;
    }
  }

  .cardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 720px) {
      flex-direction: row;
      justify-content: start;
      padding: 0 1rem;
    }

    .imgHotelContainer {
      // width: 100%;
      // max-width: 300px;
      img {
        width: 100%;
        max-width: 350px;
      }
    }

    .listContainer {
      .summaryContainer {
        .sumContainer {
          .ascTextContainer {
            display: flex;
            flex-direction: row;
            margin-top: 1.5rem;
          }
        }
      }
      @media screen and (min-width: 720px) {
        .listContainer .summaryContainer .sumContainer .ascTextContainer {
          flex-direction: row;
          gap: 3rem;
        }
      }
    }

    .listContainer {
      .summaryContainer {
        .sumContainer {
          .ascTextContainer {
            .details1Container h3 {
              .details2Container h3 {
                .details3Container h3 {
                  .detailsContainer h3 {
                    margin-bottom: 1.2rem;
                  }
                }
              }
            }
          }
        }
      }

      .listContainer {
        .summaryContainer {
          .sumContainer {
            .ascTextContainer {
              .details1Container h3 {
                .details2Container h3 {
                  .details3Container h3 {
                    .detailsContainer h3 {
                      font-weight: 400;
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
        }

        .descContainer {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 1rem 0;
          // border: 1px solid red;

          @media screen and (min-width: 720px) {
            align-items: flex-start;
            justify-content: space-between;
            margin: inherit;
            margin-left: 2rem;
            margin-right: 4rem;
            // width: 50%;
          }

          .descTextContainer {
            margin-bottom: 3rem;
            ul li {
              font-weight: 300;
              margin: 1rem;
            }

            @media screen and (min-width: 720px) {
              margin-bottom: 1rem;
            }
          }
          .descIconContainer {
            margin-bottom: 3rem;
            display: flex;
            align-items: center;
            img {
              margin: 0 0.5rem 0rem 0.5rem;
            }
            // border: 1px solid red;
            @media screen and (min-width: 720px) {
              // margin: inherit;
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
}
