.mainNavbarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainNavbarContainer .logoNavbar {
  margin: 1rem 0;
}
.mainNavbarContainer .navbarLinkContainer {
  border: 1px solid #c5c5c5;
  border-top-style: double;
  border-top-width: 4.5px;
  border-bottom-style: double;
  border-bottom-width: 4.5px;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainNavbarContainer .navbarLinkContainer div {
  width: 100%;
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
}
.mainNavbarContainer .navbarLinkContainer div a {
  display: inline-block;
  padding: 1.5rem 1rem;
  height: 100%;
  color: #14202b;
  text-decoration: none;
  transition: all 0.1s ease-in;
}
.mainNavbarContainer .navbarLinkContainer div a:hover {
  background-color: #073762;
  color: #fff;
}
.mainNavbarContainer .navbarLinkContainer div select {
  border: none;
  font-size: 15px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  color: #14202b;
}
.mainNavbarContainer .navbarLinkContainer div select option {
  background-color: #fff;
}
.mainNavbarContainer .navbarLinkContainer div select option:hover {
  border: none;
  color: #e5e5e5;
}/*# sourceMappingURL=NewNavbar.module.css.map */