.listContainer {
  width: 100%;
  max-width: 1100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.4rem;
  margin: 1rem 0;
}
@media screen and (min-width: 720px) {
  .listContainer {
    flex-direction: row;
    justify-content: center;
    max-height: 300px;
  }
}
.listContainer .listName {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 3rem;
  height: 120%;
}
@media screen and (min-width: 720px) {
  .listContainer .listName {
    -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
    margin-top: 3rem;
    margin-right: 1rem;
  }
}
.listContainer .cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 720px) {
  .listContainer .cardContainer {
    flex-direction: row;
    justify-content: start;
    padding: 0 1rem;
  }
}
.listContainer .cardContainer .imgHotelContainer img {
  width: 100%;
  max-width: 350px;
}
.listContainer .cardContainer .descContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
@media screen and (min-width: 720px) {
  .listContainer .cardContainer .descContainer {
    align-items: flex-start;
    justify-content: space-between;
    margin: inherit;
    margin-left: 2rem;
    margin-right: 4rem;
  }
}
.listContainer .cardContainer .descContainer .descTextContainer {
  margin-bottom: 3rem;
}
.listContainer .cardContainer .descContainer .descTextContainer ul li {
  font-weight: 300;
  margin: 1rem;
}
@media screen and (min-width: 720px) {
  .listContainer .cardContainer .descContainer .descTextContainer {
    margin-bottom: 1rem;
  }
}
.listContainer .cardContainer .descContainer .descIconContainer {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}
.listContainer .cardContainer .descContainer .descIconContainer img {
  margin: 0 0.5rem 0rem 0.5rem;
}
@media screen and (min-width: 720px) {
  .listContainer .cardContainer .descContainer .descIconContainer {
    margin-bottom: 0.5rem;
  }
}
.listContainer .bookingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.listContainer .bookingContainer .prizesContainer {
  margin-bottom: 2rem;
}
.listContainer .bookingContainer .prizesContainer h1 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.listContainer .bookingContainer .prizesContainer p {
  font-weight: 300;
  margin-bottom: 1rem;
}
.listContainer .bookingContainer .prizesContainer h2 {
  font-size: 20px;
  font-weight: 300;
}
.listContainer .bookingContainer .qtyContainer {
  min-width: 250px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.listContainer .bookingContainer .qtyContainer input {
  width: 100%;
  text-align: center;
  margin: 0 0.5rem;
  height: 40px;
  width: 100px;
  border: 1.5px solid #073865;
}
.listContainer .bookingContainer .qtyContainer ::-moz-placeholder {
  color: #073865;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  width: 100%;
}
.listContainer .bookingContainer .qtyContainer :-ms-input-placeholder {
  color: #073865;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  width: 100%;
}
.listContainer .bookingContainer .qtyContainer ::placeholder {
  color: #073865;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  width: 100%;
}
.listContainer .bookingContainer .bookButton input {
  width: 100%;
  height: 40px;
  width: 100px;
  background-color: #073865;
  color: white;
  border: white;
  cursor: pointer;
}
.listContainer .bookingContainer .bookUnavailButton {
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.listContainer .bookingContainer .bookUnavailButton input {
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  border: white;
}
.listContainer .bookingContainer .bookUnavailButton input:nth-child(1) {
  margin-bottom: 1rem;
  color: red;
  background-color: #ffcdcd;
}
.listContainer .bookingContainer .bookUnavailButton input:nth-child(2) {
  margin-bottom: 0.5rem;
  color: green;
  background-color: #cdffd0;
}/*# sourceMappingURL=HotelCards.module.css.map */